@font-face {
    font-family: 'Adlinnaka BoldDemo', sans-serif;
    src: url("fonts/Adlinnaka/Adlinnaka-BoldDemo.ttf") format("truetype");

    font-family: 'Hakubo', sans-serif;
    src: url("fonts/Hakubo/Hakubo.ttf") format("truetype");
    
    font-family: 'Heavitas', sans-serif;
    src: url("fonts/Heavitas/Heavitas.ttf") format("truetype");

    font-family: 'Montserrat', sans-serif;
    src: url("fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}