/*
:root {
    --color-primary: #841d40;
    --color-secondary: #002e55;
    --color-tertiary: #fff;
    --color-quaternary: #f5e834;
    --color-quinary: #115126;

    --fontStyle-primary: 'Hakubo Free Trial', sans-serif;
    --fontStyle-secondary: 'Heavitas', sans-serif;
    --fontStyle-quaternary: 'Montserrat', sans-serif;
}
*/

/* MOBILE */
@media (max-width: 480px) {
  .header__navegation {
    display: none;
  }
  .eslogan {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}
/* TABLET */
@media (max-width: 768px) {

}
