/*
:root {
    --color-primary: #841d40;
    --color-secondary: #002e55;
    --color-tertiary: #fff;
    --color-quaternary: #f5e834;
    --color-quinary: #115126;

    --fontStyle-primary: 'Hakubo Free Trial', sans-serif;
    --fontStyle-secondary: 'Heavitas', sans-serif;
    --fontStyle-quaternary: 'Montserrat', sans-serif;

    --fontSize-heading: 4.8rem;
    --fontSize-heading2: 3.8rem;
    --fontSize-heading3: 3rem;
    --fontSize-heading4: 2.8rem;
    --fontSize-paragraphs: 1.6rem;
}
*/

/* MOBILE */
@media (max-width: 480px) {
  .img__background--home {
    background-position: 65% center;
  }
  .logothailoko__background {
    width: 18rem;
    height: 18rem
  }
  .logothailoko {
    width: 13.5rem;
    height: 13.5rem;
    margin: 2.8rem 1rem 2rem 2.7rem;
  }
  .header__navegation {
    display: none;
  }
  .eslogan {
    font-size: 3rem;
    margin: 30rem 0rem 0rem 0rem;
    padding: 0rem;
  }
}
/* TABLET */
@media (max-width: 768px) {
    .img__background--home {
      background-position: center center;
    }
    .header__navegation {
      display: block;
      text-align: end;
    }
    .eslogan {
      font-size: 4rem;
      margin-top: 33rem;
    }

}
